/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
.header{
    text-align: center;
    margin: auto;
    position: relative;
}

.h1{
    color: rgb(175, 22, 16);
    font-size:2rem;
}

.h1 p{
    font-size: 26px;
}

span{
    white-space: nowrap;
}

nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
